#title {
  margin-top: 60px;
  margin-bottom: 100px;
}

#poster {
  width: 80%;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px grey;
}

mat-spinner {
  margin: 0 auto;
}

#loading_film {
  width: 50%;
  height: 50%;
}
