<div class="container">
  <div class="row justify-content-center" id="title">
    <h1 *ngIf="film; else loading_film">{{ this.film?.title }} ({{ this.film?.year }})</h1>
  </div>

  <div *ngIf='film'>
    <div class="row">
      <div class="col-md-5">
        <div *ngIf="film.poster!='N/A'; else default_poster">
          <img src="{{ film.poster }}" id="poster" (load)="this.filmLoader = false;" />
        </div>
        <ng-template #default_poster>
          <div [hidden]="!imageLoader">
            <mat-spinner></mat-spinner>
          </div>
          <img [hidden]="imageLoader" src="assets/camera.png" id="poster" (load)="this.imageLoader = false;">
        </ng-template>

        <div class="row mb-3">
          <button type="button" class="btn btn-outline-primary" id="inner1">Watch on Netflix</button>
        </div>
        <div class="row mb-3">
          <button type="button" class="btn btn-outline-primary" id="inner2">Watch on HBO Go</button>
        </div>
        <div class="row mb-3">
          <button type="button" class="btn btn-outline-primary" id="inner3">Watch on Amazon Prime</button>
        </div>

      </div>
      <div class="col-md-7">
        <p>{{this.film?.plot}}</p>
        <p><b>Actors:</b> {{this.film?.actors}}</p>
        <p><b>Director:</b> {{this.film?.director}}</p>
        <p><b>Country:</b> {{this.film?.country}}</p>
        <p><b>Genre:</b> {{this.film?.genre}}</p>
        <p><b>Runtime:</b> {{this.film?.runtime}}</p>
        <p><b>Released:</b> {{this.film?.released}}</p>
      </div>

    </div>
  </div>
  <ng-template #loading_film>
    <mat-spinner [hidden]="!filmLoader"></mat-spinner>
  </ng-template>


</div>