#logo {
  width: 35%;
}

img {
  width: 80px;

  &:hover {
    cursor: pointer;
  }
}

#margin-left {
  padding-left: 40px;
}

.ui-grid,
.ui-grid-viewport {
  height: auto !important;
}

.title {
  vertical-align: middle;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.mat-form-field {
  width: 100%;
}

.mat-option {
  min-height: 120px;
  max-height: 200px;
}

.btn-circle.btn-sm {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 25px;
  font-size: 8px;
  text-align: center;
}
