<div class="body-center">

  <!-- GENRES -->

  <div class="row justify-content-center" id="genre">
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('spider-man'); isPremieresChosen = true;"
        [disabled]="isPremieresChosen" id="premieres">Premieres</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('transformers'); isMostPopularChosen = true"
        [disabled]="isMostPopularChosen" id="popular">Most popular</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('mr bean'); isComediesChosen = true"
        [disabled]="isComediesChosen">Comedies</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('the thing'); isThrillersChosen = true"
        [disabled]="isThrillersChosen">Thrillers</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('fast and furious'); isActionChosen = true"
        [disabled]="isActionChosen">Action</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light">More...</button>
    </div>
  </div>

  <!-- CAROUSEL -->

  <hr />
  <app-carousel [slides]="this.slides" [currentPage]="this.carouselsCurrentPage" [defaultImageSrc]="this.defaultImageSrc"
    (isNextPageLast)="checkIfDataIsRunningOut($event)"></app-carousel>
  <hr />

</div>