<div class="row align-items-center carousel">

    <div class="col-1">
        <!-- Icon made by Raj Dev from www.freeicons.io -->
        <button (click)="previousPage()" class="btn btn-link"><img src="assets/arrow_left.svg" class="arrow" /></button>
    </div>

    <div class="col-10">
        <div *ngIf="bufferedSlides; else loading_slides">
            <div class="row align-items-center" [@transform]="animationState" (@transform.done)="populateBuffer()">
                <div *ngFor="let slide of this.bufferedSlides" class="col mini-box text-center image-wrapper">
                    <a (click)="goToRouterLink(slide.destination, slide.parameterKey, slide.parameterValue)">
                        <img src="{{ slide.imageSrc }}" class="image" (load)="this.slidesLoaded = true" />

                        <p>{{ slide.title }}</p>
                    </a>
                </div>
            </div>
        </div>
        <div #loading_slides>
            <mat-spinner [hidden]="this.slidesLoaded"></mat-spinner>
        </div>
    </div>

    <div class="col-1">
        <!-- Icon made by Raj Dev from www.freeicons.io -->
        <button (click)="nextPage()" [hidden]="currentPage===0" class="btn btn-link"><img src="assets/arrow_right.svg"
                class="arrow" /></button>
    </div>

</div>