<hr />

<div class="row align-items-center carousel">
    <div class="col-1">
        <!-- Icon made by Raj Dev from www.freeicons.io -->
        <button class="btn btn-link"><img src="assets/arrow_left.svg" class="arrow" /></button>
    </div>

    <div class="col-10">

        <div class="row align-items-center">
            <div *ngFor="let slide of this.bufferedSlides" class="col mini-box text-center poster-wrapper">
                <a (click)="goToRouterLink(slide.destination, slide.parameterKey, slide.parameterValue)">
                    <img src="{{ slide.imageSrc }}" class="poster" />

                    <p>{{ slide.title }}</p>
                </a>
            </div>
        </div>

    </div>
</div>


<div class="col-1">
    <button class="btn btn-link"><img src="assets/arrow_right.svg" class="arrow" /></button>
</div>

<hr />