<div class="container">
  <div class="row justify-content-center" id="title">
    <h1 *ngIf="movie; else loading_film">{{this.movie?.Title}} ({{this.movie?.Year}})</h1>
  </div>

  <div *ngIf='movie'>
    <div class="row">
      <div class="col-md-5">
        <div *ngIf="movie.Poster!='N/A'; else default_poster">
          <img src="{{ movie.Poster }}" id="poster" (load)="this.movieLoader = false;" />
        </div>
        <ng-template #default_poster>
          <div [hidden]="!imageLoader">
            <mat-spinner></mat-spinner>
          </div>
          <img [hidden]="imageLoader" src="assets/camera.png" id="poster" (load)="this.imageLoader = false;">
        </ng-template>
      </div>
      <div class="col-md-7">
        <p>{{this.movie?.Plot}}</p>
        <p>Where to watch:</p>

        <ul>
          <li *ngFor="let way of waysToWatch">{{ way.primaryText }} - <a
              href="{{ way.link.uri }}">{{ way.secondaryText }}</a></li>
        </ul>
      </div>

    </div>
  </div>
  <mat-spinner #loading_film [hidden]="!movieLoader"></mat-spinner>
</div>