a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.container {
  display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo searching menu";
}

.navbar-brand {
  grid-area: logo;
  justify-self: start;
}

.searchbar {
  grid-area: searching;
  justify-self: center;
}

.menu {
  grid-area: menu;
  justify-self: end;
}
