<header>
  <div class="row bg-white border-bottom box-shadow text-center">
    <a class="col-3" [routerLink]="['/']">FilmScanner</a>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Look for a movie</mat-label>
        <input [matAutocomplete]="auto" matInput #search (keyup)="OnInput(search.value)">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let movie of movies.Search">
          <img src="{{ movie.Poster }}" height="10%" width="10%"/> {{ movie.Title }} ({{ movie.Year }})
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col-3">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light"
  >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profile']"
              ><button type="button" class="btn btn-primary btn-circle btn-sm">Profile</button></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
</header>
