<header>
  <div class="row bg-white border-bottom box-shadow text-center">
    <a class="col-3"><img src="assets/logo.png" (click)="reset()" id="logo"></a>
    <div class="col-6 my-auto">
      <mat-form-field>
        <mat-label>Look for a film</mat-label>
        <input [matAutocomplete]="auto" matInput #search (input)="onInput(search.value)">
      </mat-form-field>
      <mat-autocomplete class="search-dropdown" #auto="matAutocomplete">
        <div *ngIf="movies">
          <mat-option *ngFor="let movie of movies.searches" (onSelectionChange)="selectMovie(movie.imdbID)">
            <div class="row mb-3 align-items-center">
              <div class="col-1 col-md-offset-1">
                <div *ngIf="movie.poster!='N/A'; else default_poster">
                  <img src="{{ movie.poster }}" />
                </div>
                <ng-template #default_poster>
                  <img src="assets/camera.png">
                </ng-template>
              </div>
              <div class="col-11" id="margin-left">
                {{ movie.title }} ({{ movie.tear }})
              </div>
            </div>
          </mat-option>
        </div>
      </mat-autocomplete>
    </div>
    <div class="col-3 my-auto">
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" [ngClass]="{ show: isExpanded }">
          <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/profile']"><button type="button"
                  class="btn btn-primary btn-circle btn-sm">Profile</button></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>