<header>
  <div class="row bg-white border-bottom box-shadow text-center">
    <a class="col-3"><img src="assets/logo.png" (click)="home()" id="logo"></a>
    <div class="col-6 my-auto">
      <mat-form-field class="search-form">
        <mat-label>Look for a film</mat-label>
        <input [matAutocomplete]="auto" matInput #search (input)="onInput(search.value)">
      </mat-form-field>
      <mat-autocomplete class="search-dropdown" #auto="matAutocomplete">
        <div *ngIf="films">
          <mat-option *ngFor="let film of films.searches" (onSelectionChange)="selectFilm(film.imdbID)">
            <div class="container">
              <div class="row justify-content-md-center pb-2">
                <div class="col">
                  <div *ngIf="film.poster!='N/A'; else default_poster">
                    <img src="{{ film.poster }}" />
                  </div>
                  <ng-template #default_poster>
                    <img src="assets/camera.png">
                  </ng-template>
                </div>
                <div class="col-md-auto">
                  {{ film.title }} ({{ film.year }})
                </div>
              </div>
            </div>
          </mat-option>
        </div>
      </mat-autocomplete>
    </div>
    <div class="col-3 my-auto">
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="home()">Home</button>
        <button mat-menu-item routerLink="/profile" [disabled]="!isLoggedIn()">Profile</button>
        <ng-container *ngIf="isLoggedIn(); else loginOption">
          <button mat-menu-item (click)="logout()">Logout</button>
        </ng-container>
        <ng-template #loginOption>
          <button mat-menu-item routerLink="/login">Login</button>
          <button mat-menu-item routerLink="/registration">Register</button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</header>