<div class="row justify-content-center" id="genre">
  <div class="col text-center">
    <button class="btn btn-light">Premieres</button>
  </div>
  <div class="col text-center">
    <button class="btn btn-light">Most popular</button>
  </div>
  <div class="col text-center">
    <button class="btn btn-light">Comedies</button>
  </div>
  <div class="col text-center">
    <button class="btn btn-light">Thrillers</button>
  </div>
  <div class="col text-center">
    <button class="btn btn-light">Action</button>
  </div>
  <div class="col text-center">
    <button class="btn btn-light">More...</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col text-center">
    <svg width="150" height="270">
      <rect width="150" height="270" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg><br/>
    text
  </div>
  <div class="col text-center">
    <svg width="150" height="270">
      <rect width="150" height="270" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg><br/>
    text
  </div><div class="col text-center">
    <svg width="150" height="270">
      <rect width="150" height="270" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg><br/>
    text
  </div><div class="col text-center">
    <svg width="150" height="270">
      <rect width="150" height="270" style="fill:rgb(0, 47, 255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg><br/>
    text
  </div><div class="col text-center">
    <svg width="150" height="270">
      <rect width="150" height="270" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg><br/>
    text
  </div>
</div>
<hr/>