#genre {
    margin-top: 50px;
    margin-bottom: 20px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

a:hover {
    cursor:pointer;
   }

.arrow {
    width: 5vw;
    max-width: 50%;
    min-width: 20%;
}

#poster {
    width: 150px;
}

mat-spinner {
    margin:0 auto;
}