<h1>Testing</h1>
<div class="body-center">

  <!-- GENRES -->

  <div class="row justify-content-center" id="genre">
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('spider-man'); isPremieresChosen = true;"
        [disabled]="isPremieresChosen" id="premieres">Premieres</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('transformers'); isMostPopularChosen = true"
        [disabled]="isMostPopularChosen" id="popular">Most popular</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('mr bean'); isComediesChosen = true"
        [disabled]="isComediesChosen">Comedies</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('the thing'); isThrillersChosen = true"
        [disabled]="isThrillersChosen">Thrillers</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light" (click)="changeCategory('fast and furious'); isActionChosen = true"
        [disabled]="isActionChosen">Action</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-light">More...</button>
    </div>
  </div>

  <!-- FILMS & ARROWS-->

  <hr />

  <div class="row align-items-center carousel">
    <div class="col-1">
      <!-- Icon made by Raj Dev from www.freeicons.io -->
      <button (click)="state = 'vanished-left'" class="btn btn-link"><img src="assets/arrow_left.svg"
          class="arrow" /></button>
    </div>

    <div class="col-10">
      <div *ngIf="films; else loading_films">
        <div [@transform]="state" (@transform.done)="rotateCarousel($event)">

          <div class="row align-items-center">
            <div *ngFor="let film of films.searches | slice:sliceBottom:sliceTop let i=index"
              class="col mini-box text-center poster-wrapper">

              <a (click)="selectfilm(film.imdbID)">
                <div *ngIf="film.poster!='N/A'; else default_poster">
                  <img src="{{ film.poster }}" class="poster" (load)="this.filmsLoader = false;" />
                </div>
                <ng-template #default_poster>
                  <div [hidden]="!imageLoader">
                    <mat-spinner></mat-spinner>
                  </div>
                  <img [hidden]="imageLoader" src="assets/camera.png" class="poster" (load)="this.imageLoader = false;">
                </ng-template>
                <p>{{ film.title }} ({{ film.year }})</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading_films>
      <mat-spinner [hidden]="!filmsLoader"></mat-spinner>
    </ng-template>

    <div class="col-1">
      <button [hidden]="shouldRightButtonAppear" (click)="state = 'vanished-right'" class="btn btn-link"><img
          src="assets/arrow_right.svg" class="arrow" /></button>
    </div>
  </div>

  <hr />

</div>