#genre {
    margin-top: 50px;
    margin-bottom: 20px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

a:hover {
    cursor:pointer;
   }

.arrow {
    width: 3vw;
    opacity: 80%;
}

.arrow:hover {
    opacity: 40%;
  }

#poster {
    width: 220px;
    margin-bottom: 20px;
}

mat-spinner {
    margin:0 auto;
}

.body-center{
    width:70%;
    max-width:70%;
    display: inline-block;
    top:25%;
    left: 15%;
    position:absolute;
}
